*{
    background-color: rgb(73, 81, 104);
}
h3{
    background-color: #348e91;
}
h2{
    background-color: #1c5052;
}
h4{
    background-color: #213635;
}
p{
    background-color: #0a0c0d;
    color: rgb(242, 242, 242);
}
